# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform/environments/*.tfvars
*.tfplan
.terraformrc
terraform.rc
.terraform.lock.hcl

# Local .env files
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/
.next/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
